.name {
    color: red;
}

.nav {
    display: flex;
    list-style: none;
    position: relative;
    z-index: 2;

    li {
        padding: 0 15px;
    }

    .activeted {
        color: #fff;
        background: #f60;

        a {
            color: #fff
        }
    }
}